.jumbotron {
    text-align: center;
}

.container {
    text-align: center;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.btn-dark:hover {
    background-color: #bbbbbb;
}

.buttons {
    width: 50%;
    margin: auto;
}

btn1 {
    float: left;
}

btn2 {
    float: right;
}

.info {
    margin-top: 50px;
    clear: both;
}

.movies {
    border: 1px solid #000000;
    width: 60%;
    height: 600px;
    margin: auto;
    overflow: scroll;
}

.actors {
    margin: 20px 0;
}

.actors li {
    list-style-type: none;
}

.actors a {
    color: black;
}

.user-reviews {
    height: 200px;
    overflow: scroll;
    width: 40%;
    margin: auto auto 20px auto;
}

#user-review {
    border-top: 1px solid black;
    text-align: left;
}

#comment-btn {
    margin: 20px 0;
}

.form {
    width: 30%;
    margin: auto;
}

.movie {
    clear: both;
    border-bottom: 1px solid #000000;
}

.movie h4, .movie p {
    text-align: right;
    margin: 10 10 0 0;
}

.movie img {
    width: 250px;
    height: 150px;
    float: left;
    margin: 10 0 10 10;
}

#director {
    clear: right;
}

#description {
    width: 55%;
    margin-bottom: 10px;
}